# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Testing & Linting
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Dados brutos pesados e arquivos temporarios (> 50MB e raw)
data/raw/*
!data/raw/.gitkeep
*.zip
*.tar.gz
*.7z

# Outputs temporarios pesados
outputs/*.tmp

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
